@import 'tailwindcss';

[data-rehype-pretty-code-figure] {
	& pre {
		@apply grid min-w-full rounded-none border-0 bg-transparent px-0 py-0 break-words max-h-96 ;
		counter-reset: line;
		box-decoration-break: clone;
	}

	& [data-line] {
		@apply inline-block w-full basis-4 border-l-[3px] border-l-transparent pr-5 pl-2 leading-5 ;
	}
	/* highlighted but not .error or .warning */
	& [data-highlighted-line],
	.highlighted:not(.error):not(.warning) {
		@apply !bg-blue-400/30 !border-l-blue-600;

		&:hover {
			@apply !bg-blue-400/50;
		}
	}

	& [data-highlighted-line-id='add'],
	.diff.add {
		@apply border-l-green-600 bg-green-400/30;

		&:hover {
			@apply !bg-green-400/50;
		}

		&::before {
			content: '+';
			margin-left: -6px;
			margin-right: 2px;
			@apply text-xs text-green-700;
		}
	}

	& [data-highlighted-line][data-highlighted-line-id='delete'],
	.diff.remove {
		@apply border-l-red-600 bg-red-400/30;

		&:hover {
			@apply !bg-red-400/50;
		}

		&::before {
			content: '-';
			margin-left: -6px;
			margin-right: 2px;
			@apply text-xs text-red-700;
		}
	}

	& [data-highlighted-line][data-highlighted-line-id='warning'],
	.highlighted.warning {
		@apply border-l-yellow-600 bg-yellow-400/30;

		&:hover {
			@apply !bg-yellow-400/50;
		}

		&::before {
			content: '!';
			margin-left: -6px;
			margin-right: 2px;
			@apply text-xs text-yellow-700;
		}
	}

	& [data-highlighted-line][data-highlighted-line-id='error'],
	.highlighted.error {
		@apply border-l-red-600 bg-red-400/30;

		&:hover {
			@apply !bg-red-400/50;
		}

		&::before {
			content: '!';
			margin-left: -6px;
			margin-right: 2px;
			@apply text-xs text-red-700;
		}
	}
	
	& mark[data-highlighted-chars] {
		@apply border border-gray-400 p-0.5 bg-gray-400/50 font-bold !text-gray-400 rounded-md;

		&:hover {
			/* @apply !bg-gray-400/90; */
			background-opacity: 0.9 !important;
		}
	}

	& [data-chars-id] {
		@apply shadow-none;
	}

}

[data-comp-preview] [data-rehype-pretty-code-figure] {
	& pre {
		@apply mt-0 rounded-t-none rounded-b-lg;
	}
}

[data-rehype-pretty-code-title] {
	@apply hidden;

	& + pre {
		@apply mt-2;
	}
}

[data-metadata]:not(:has(pre)) {
	display: none;
}

[data-metadata] [data-code-copy] {
	@apply !top-16;
}

.code-add {
	@apply border-l-green-600 bg-green-100;
}

.code-delete {
	@apply border-l-red-600 bg-red-100;
}

span[data-rehype-pretty-code-figure] {
	@apply inline-flex w-fit;
}

span[data-line] {
	@apply inline-block w-full;
}

[data-rehype-pretty-code-figure] code {
	@apply inline-flex w-full border-none bg-gray-50 text-base;

	& [data-line] {
		@apply inline-block px-0;
	}
}

html.dark [data-rehype-pretty-code-figure] code {
	@apply bg-gray-900;
}

/* code:not(pre code) {
	white-space: pre-wrap;
	word-break: break-all;
	overflow-wrap: break-word;
	@apply h-5 rounded-md border border-white bg-zinc-100 font-mono;
} */



.space {
	@apply inline-block select-none;

	&::before {
		content: ' ';
		/* content: '·'; */
		white-space: pre;
		pointer-events: none;
		user-select: none;
	}
}

.tab {
	@apply inline-block select-none;

	&::before {
		content: '	';
		/* content: ' ⇥ '; */
		white-space: pre;
		pointer-events: none;
		user-select: none;
	}
}

[data-rehype-pretty-code-figure] code {
	@apply overflow-x-auto p-0 text-xs antialiased md:text-sm;
}

[data-rehype-pretty-code-figure] pre > code,
[data-rehype-pretty-code-figure] code[data-line-numbers] {
	counter-reset: line !important;
}

[data-rehype-pretty-code-figure] [data-line]:empty::before {
	content: '\00a0';
	display: inline-block;
}


[data-rehype-pretty-code-figure] code[data-line-numbers] > [data-line]::before {
	counter-increment: line;
	content: counter(line);
	@apply mr-2 inline-block w-8  pr-2 -m-5 text-right font-mono text-gray-400 ;
	/* border-r border-gray-300 */
}

html.dark [data-rehype-pretty-code-figure] code[data-line-numbers] > [data-line]::before {
	@apply text-gray-500! border-gray-500!;
}

[data-rehype-pretty-code-figure] code > [data-line]:first-child {
	@apply pt-2;
}
[data-rehype-pretty-code-figure] code > [data-line]:last-child {
	@apply pb-2;
}


[data-rehype-pretty-code-figure] pre [data-line] {
	@apply border-l-2 border-l-transparent px-4;

	&::before {
		@apply hidden;
	}
}

/* [data-rehype-pretty-code-figure] [data-highlighted-line],
span.highlighted {
	@apply bg-blue-400/10;
}
[data-rehype-pretty-code-figure] [data-highlighted-line]::before,
span.highlighted::before {
	content: '';
	@apply absolute top-0 -left-0.5 h-full w-0.5 bg-blue-400;
} */




html [data-rehype-pretty-code-figure] code[data-theme*=' '] span {
	color: var(--shiki-light) !important;
	font-style: var(--shiki-light-font-style) !important;
	font-weight: var(--shiki-light-font-weight) !important;
	text-decoration: var(--shiki-light-text-decoration) !important;
}

html.dark [data-rehype-pretty-code-figure] code[data-theme*=' '] span {
	color: var(--shiki-dark) !important;
	font-style: var(--shiki-dark-font-style) !important;
	font-weight: var(--shiki-dark-font-weight) !important;
	text-decoration: var(--shiki-dark-text-decoration) !important;
}

html [data-rehype-pretty-code-figure] code[data-theme*=' '] {
	background-color: var(--shiki-light-bg) !important;
}

html.dark [data-rehype-pretty-code-figure] code[data-theme*=' '] {
	background-color: var(--shiki-dark-bg) !important;
}

[data-rehype-pretty-code-figure] a {
	text-decoration: none;
	border-bottom: 1px solid theme('colors.pink.300');
	color: theme('colors.pink.200');
	border-radius: 0.25rem;
	transition:
		color 0.18s,
		border-color 0.18s,
		background 0.18s,
		box-shadow 0.18s;
	box-shadow: 0 0 0 0.2rem transparent;
}

[data-rehype-pretty-code-figure] a:hover {
	@apply border-b-pink-200 bg-pink-200 text-zinc-900;
	box-shadow: 0 0 0 0.2rem theme('colors.pink.200');
}

[data-rehype-pretty-code-figure] h2 a,
[data-rehype-pretty-code-figure] h3 a,
[data-rehype-pretty-code-figure] h4 a,
[data-rehype-pretty-code-figure] h5 a,
[data-rehype-pretty-code-figure] h6 a {
	@apply border-b-2 border-b-transparent text-gray-100;
	box-shadow: 0 0 0 0.4rem transparent;
}

[data-rehype-pretty-code-figure] h3 a:has(code) {
	box-shadow: 0 0 0 0.3rem transparent;
}

[data-rehype-pretty-code-figure] h3 a:has(code):hover {
	@apply bg-teal-900;
	box-shadow: 0 0 0 0.3rem theme('colors.teal-900');
}

[data-rehype-pretty-code-figure] blockquote {
	@apply border-l-zinc-700 text-sm text-zinc-500;
}

[data-rehype-pretty-code-figure] blockquote p::before,
[data-rehype-pretty-code-figure] blockquote p::after {
	@apply hidden;
}

code[data-line-numbers-max-digits='2'] > [data-line]::before {
	@apply w-4;
}
code[data-line-numbers-max-digits='3'] > [data-line]::before {
	@apply w-5;
}
code[data-line-numbers-max-digits='4'] > [data-line]::before {
	@apply w-6;
}

[data-rehype-pretty-code-figure] pre [data-line]:hover {
	@apply bg-zinc-800/10;
}

html.dark [data-rehype-pretty-code-figure] pre [data-line]:hover {
	@apply bg-zinc-200/10;
}

.has-focused {
	code > span {
		@apply blur-xs transition-[filter] duration-150 ease-in-out;
	}

	code > span.focused,
	&:hover code > span {
		@apply blur-none transition-[filter] duration-150 ease-in-out;
	}
}
[data-rehype-pretty-code-figure] {
	& pre {
		&:hover .twoslash-hover {
			border-bottom: 1px dotted black !important;
			transition: border-bottom 0.15s linear !important;
		}

		&:hover .twoslash-hover:hover {
			border-bottom: 1px dotted transparent !important;
			transition: border-bottom 0.15s linear !important;
		}

		.twoslash-hover {
			display: inline-block !important;
			cursor: help !important;

			.twoslash-popup-container {
				cursor: auto !important;
				display: flex !important;
				flex-direction: column !important;
				min-width: 300px !important;
				max-width: min(800px, 90vw) !important;
				width: fit-content !important;
				max-height: 400px !important;
				height: max-content !important;
				top: 100% !important;
				opacity: 0 !important;
				visibility: hidden !important;
				transform: translateY(calc(2rem + 20px)) !important;
				transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97) !important;
				font-size: 0.875rem !important;

				.twoslash-popup-code {
					height: fit-content !important;
					min-height: min-content !important;
					overflow-y: hidden !important;
				}

				.twoslash-popup-docs {
					height: 100% !important;
					overflow-y: scroll !important;

					border-top: 1px solid black !important;

					display: flex !important;
					flex-direction: column !important;

					p {
						margin: 0 !important;
					}

					h1,
					h2,
					h3,
					h4,
					h5,
					h6 {
						margin: 0 !important;
					}

					ul {
						list-style-type: decimal !important;
						margin-bottom: 0 !important;
					}

					ol {
						margin-left: 1rem !important;
						margin-bottom: 0 !important;
					}

					blockquote {
						margin-left: 1.5rem !important;
					}

					li {
						margin-top: 0 !important;
						margin-bottom: 0 !important;
					}
				}

				.twoslash-popup-docs-tags {
					height: fit-content !important;
					min-height: min-content !important;
					overflow-y: auto !important;
				}
			}

			&:hover {
				outline: 1px solid black !important;
				background-color: #ba7e4127 !important;
				border-radius: 0.25rem !important;
				transition: all 0.15s linear !important;

				.twoslash-popup-container {
					opacity: 1 !important;
					visibility: visible !important;
					transform: translateY(0.15rem) !important;
				}
			}
		}
	}
}

[data-rehype-pretty-code-caption] {
	@apply text-sm text-gray-400 w-full flex justify-center items-center;
}

.twoslash-popup-docs {
	.shiki {
		border-radius: 0rem !important;
		margin: 0 !important;
		padding: 0.25rem 0.5rem !important;

		> code {
			counter-reset: none !important;
			counter-increment: none !important;

			.line::before {
				content: none !important;
				margin-right: 0 !important;
			}
		}
		> pre {
			margin: 0 !important;
			padding: 0 !important;
		}
	}
}

pre:not(.nowrap) code {
	white-space: pre-wrap;
	overflow-wrap: break-word;
	min-width: 20ch;
}

pre:not(.nowrap) code span.indent {
	white-space: pre;
}


[data-chars-id='ul'] {
	@apply border !border-green-500 p-1 !bg-green-500/50 !font-bold !text-green-500 hover:bg-green-500/70;
}

[data-chars-id='hi'] {
	@apply border !border-teal-700 p-1 !bg-teal-700/60 !font-bold !text-teal-700 hover:bg-teal-700/70;
}

[data-chars-id='rb'] {
	@apply border !border-red-600 p-1 !bg-red-600/50 !font-bold !text-red-600 hover:bg-red-600/70;
}

[data-chars-id='yb'] {
	@apply border !border-yellow-600 p-1 !bg-yellow-600/50 !font-bold !text-yellow-600 hover:bg-yellow-600/70;
}

[data-chars-id='v'] {
	@apply border !border-pink-600 p-1 !bg-rose-800/50 !font-bold !text-pink-300 hover:bg-rose-800/70;
}

[data-chars-id='s'] {
	@apply border !border-yellow-600 p-1 !bg-yellow-800/50 !font-bold !text-yellow-300 hover:bg-yellow-800/70;
}

[data-chars-id='i'] {
	@apply border !border-purple-600 p-1 !bg-purple-800/50 !font-bold !text-purple-300 hover:bg-purple-800/70;
}